@import url(./bootstrap.css);

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins-Regular.eot");
  src: url("../assets/fonts/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../assets/fonts/Poppins-ExtraBold.eot");
  src: url("../assets/fonts/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne-Regular.eot");
  src: url("../assets/fonts/YesevaOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/YesevaOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins-Regular";
}

html,
body {
  /* max-width: 100vw;
  overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* theme css start from here  */
.header-main {
  width: 100%;
}

.nav-item a {
  cursor: pointer;
  /* font-family: ; */
}
.nav-item.dropdown {
  cursor: pointer;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
