@import url(./bootstrap.css);
:root {
  /*fonts variable*/
  --bodyFont: "Poppins-Regular";
  --titleFont: "Yeseva One";

  /* color */
  --colorBlue: #0a6eb0;
  --colorDarkBlue: #003355;
  --colorOrange: #ea8127;
  --colorDarkGray: #2f2f2f;
  --lightBlue: #e2f4ff;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins-Regular.eot");
  src: url("../assets/fonts/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../assets/fonts/Poppins-ExtraBold.eot");
  src: url("../assets/fonts/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne-Regular.eot");
  src: url("../assets/fonts/YesevaOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/YesevaOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
}
ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 16px;
  color: #2f2f2f;
}

/* theme css start from here  */
.header-main {
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.nav-item a {
  cursor: pointer;
  /* font-family: ; */
}
.nav-item.dropdown {
  cursor: pointer;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  padding: 0;
  background-color: var(--colorOrange);
  min-width: 200px;
}

.nav-item.dropdown:hover .dropdown-menu .dropdown-item {
  background-color: var(--colorBlue);
  color: var(--bs-white);
  font-size: 14px;
  padding: 5px 10px;
}
.nav-item.dropdown:hover .dropdown-menu li:hover .dropdown-item {
  background-color: var(--colorOrange);
}

.btn-block button {
  border: 1px solid;
  font-weight: bold;
  font-size: 16px;
}
.btn-block .btn-orange {
  border: 1px solid var(--colorOrange);
  color: var(--colorOrange);
  padding: 8px 15px;
}
.btn-block .btn-blue {
  border: 1px solid var(--colorBlue);
  color: var(--colorBlue);
  padding: 8px 15px;
}

/**/
.footer-main {
  background-color: var(--colorDarkGray);
  padding: 60px 0;
}
.footer-main p {
  color: var(--bs-white);
  font-size: 14px;
}
.footer-main h4 {
  color: var(--bs-white);
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.footer-main ul {
  font-size: 14px;
  color: var(--bs-white);
}
.footer-main ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--bs-white);
}
.footer-main ul li a:hover {
  color: var(--colorOrange);
}
.banner {
  padding: 60px 0px;
  margin-top: 92px;
}
.title-text h6 {
  color: var(--colorOrange);
}
.title-text h6 span {
  font-weight: bold;
}
.title-text h2 {
  font-family: var(--titleFont);
  font-size: 64px;
  color: var(--colorBlue);
}
.title-text h2 span {
  font-family: var(--titleFont);
  color: var(--colorOrange);
}
.title-text h3 {
  font-family: var(--titleFont);
  font-size: 46px;
  color: var(--colorBlue);
}
.title-text h3 span {
  font-family: var(--titleFont);
  color: var(--colorOrange);
}
.btn-orange-color {
  background-color: var(--colorOrange);
  color: var(--bs-white);
  font-size: 16px;
  padding: 8px 25px;
}
.btn-orange-color:hover {
  background-color: var(--colorBlue);
  color: var(--bs-white);
}
.btn-blue-color {
  background-color: var(--colorBlue);
  color: var(--bs-white);
  font-size: 16px;
  padding: 8px 25px;
}
.btn-blue-color:hover {
  background-color: var(--colorOrange);
  color: var(--bs-white);
}
.btn-link-blue-color {
  font-size: 16px;
  color: var(--colorBlue);
}
.btn-link-blue-color:hover {
  color: var(--colorOrange);
}
.why-us {
  padding: 60px 0px;
  background-color: var(--lightBlue);
}
.bx-block {
  border-radius: 8px;
  padding: 20px;
  padding-top: 35px;
  min-height: 250px;
  margin-bottom: 20px;
}
.bx-icon {
  display: flex;
  background-color: var(--bs-white);
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.bx-block h6 {
  color: var(--bs-white);
  font-size: 16px;
  font-weight: bold;
}
.bx-block p {
  font-size: 14px;
  color: var(--bs-white);
}
.bg_colorOrange {
  background-color: var(--colorOrange);
}
.bg_colorDarkBlue {
  background-color: var(--colorDarkBlue);
}
.right-test {
  padding: 60px 0px;
}
.right-test h3 {
  color: var(--colorDarkGray);
}
.people-talking {
  background-color: var(--colorDarkBlue);
  padding: 60px 0px;
}
.people-talking h3 {
  color: var(--bs-white);
}
